{% extends 'base.html.twig' %}

{% block title %}Catégories kufdvqfpziyyc{% endblock %}

{% block body %}

    <h1>Toutes les catégories : </h1>
    {% for category in categorys %}
        <div>
            <h2>{{ loop.index }} - {{ category.name }}</h2>
            <a href="{{ path("category_show", { categoryName: category.name  }) }}">Voir la fiche</a>
        </div>
    {% else %}
        Pas d'autres catégories        
    {% endfor %}

    <a href=" {{ path('app_index') }} ">
        Retours à l'acceuil
    </a>
{% endblock %}